{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "@nuxtjs/eslint-config-typescript",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    "vue/multi-word-component-names": "off",
    "vue/max-attributes-per-line": "off",

    // "semi": 0,
    // "quotes": [
    //   "warn",
    //   "single",
    //   { "avoidEscape": true, "allowTemplateLiterals": false }
    // ],

    // "semi-spacing": ["error", { "after": true, "before": false }],
    // "semi-style": ["error", "last"],
    // "no-extra-semi": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error"
  }
}
